{{ backvar(main_img_maxwidth,410) }}
{{ backvar(main_img_maxheight,410) }}
{{ backvar(main_img_thumbnail_maxwidth,205) }}
{{ backvar(main_img_thumbnail_maxheight,205) }}
{{ backvar(disable_variants,1) }}

{% if products_disp %}
<div class="product-offer__items-outer slick-list-until-md-outer slick-has-counter slick-arrow--small pt-5 mb-5">
    {{ product_list_form_start }}
		<div class="product-offer__items slick-list-until-md-inner" {% if login_needed %}id="list_no_price"{% endif %}>
			{% for product in products %}
				<article class="product-offer__item px-3 {{ product.class }}" id="page_artlist_{{ product.id }}">
					<div class="row no-gutters align-items-start">
						<div class="product-offer__mobile-header d-block d-md-none">
							{% if product.review_enabled %}
								<div class="product-offer__rating row no-gutters">
									{% if product.review_percent != "" %}
										<div class="product-offer__rating-wrap d-flex">
											<div class="product-offer__rating rating-stars text-primary my-auto mr-4" title="{{ product.review_avg }}">
												<div class="product-offer__rating-stars-back rating-stars__back">
													<div class="product-offer__rating-stars-front rating-stars__front" style="width:{{ product.review_percent }}%;"></div>
												</div>
											</div>
										</div>
									{% endif %}
								</div>
							{% endif %}
							<div class="product-offer__name-category-attributes">
								<div class="product-offer__name-wrap d-flex mb-5 flex-wrap align-items-center">
									<h2 class="product-offer__name text-uppercase line-clamp--3-14 font-weight-bold d-inline-block pr-2 mb-0 font-xl">{{ product.name }}</h2>
									<div class="product-offer__badges d-inline-block">
										{% if product.sale_disp %}
											<div class="product-offer__sale badge badge--sale">-<span id="price_save_{{ product.id }}">{{ product.sale_percent }}</span>%</div>
										{% endif %}
										{% if product.new_disp %}
											<div class="product-offer__new badge badge--new">{{ text.status_new }}</div>
										{% endif %}
										{% if product.stock_disp %}
											<div class="artlist__stock badge border position-relative {% if not product.sale_disp and not product.new_disp %}only_stock_status{% endif %} has-tooltip badge--stock {% if product.stock_available %} stock-available{% else %}{% if product.no_stock_but_buyable_disp %} stock-can-order{% else %} no-stock{% endif %}{% endif %}">
												<div class="artlist__stock-text product-stock-text">
													{% if product.stock_available %}
														<div class="function__icon stock__icon icon--check"></div>
														<div class="tooltip-text tooltip-down">{% if not product.stock_interval_text_exists %}{{ text.status_on_stock }}{% endif %}{% if not stock_text_only %}{% if not product.stock_interval_text_exists %}: {% endif %}{{ product.stock_qty }}{% if not product.stock_interval_text_exists %}&nbsp;{{ product.unit }}{% endif %}{% endif %}</div>
													{% else %}
														{% if product.cart_disp %}
															<div class="function__icon stock__icon icon--exclamation-2"></div>
															<div class="tooltip-text tooltip-down">{{ text.status_orderable }}</div>
														{% else %}
															<div class="function__icon stock__icon icon--close"></div>
															<div class="tooltip-text tooltip-down">{{ text.status_no_stock }}</div>
														{% endif %}
													{% endif %}
												</div>
											</div>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
						<div class="product-offer__img-outer order-1 order-md-2 col-md-5">
							<div class="product-offer__img-wrap">
								<a class="d-block product-img-wrapper" href="{{ product.url }}" title="{{ product.name }}">

									<picture>
										<!--[if IE 9]><video style="display: none"><![endif]-->
										<source
												data-srcset="{{ product.img_thumbnail_url }} 1x{% if product.img_thumbnail_retina_exists %}, {{ product.img_thumbnail_retina_url }} {{ product.img_thumbnail_retina_size }}{% endif %}"
												media="(max-width: 767px)" />
										<!--[if IE 9]></video><![endif]-->
										<img
												src="[unas_shop_url]/main_pic/space.gif"
												data-src="{{ product.img_url }}"
												{% if product.img_retina_exists %} data-srcset="{{ product.img_retina_url }} {{ product.img_retina_size }}"{% endif %}
												class="product-offer__img product-img lazyload"
												alt="{{ product.img_alt }}" title="{{ product.img_alt }}" />
										<div class="loading-spinner"></div>
									</picture>

								</a>
							</div>
						</div>
						<div class="product-offer__details order-2 order-md-1 col-md-7 mt-4 mt-md-0 pr-md-3">
							{% if product.review_enabled %}
								<div class="product-offer__rating row no-gutters d-none d-md-flex">
									{% if product.review_percent != "" %}
										<div class="product-offer__rating-wrap d-flex">
											<div class="product-offer__rating rating-stars text-primary my-auto mr-4" title="{{ product.review_avg }}">
												<div class="product-offer__rating-stars-back rating-stars__back">
													<div class="product-offer__rating-stars-front rating-stars__front" style="width:{{ product.review_percent }}%;"></div>
												</div>
											</div>
										</div>
									{% endif %}
								</div>
							{% endif %}
							<div class="product-offer__name-category-attributes d-none d-md-block">
								<div class="product-offer__name-wrap d-flex mb-5 flex-wrap align-items-center">
									<h2 class="product-offer__name text-uppercase line-clamp--3-14 font-weight-bold d-inline-block pr-2 mb-0 font-xxl">{{ product.name }}</h2>
									<div class="product-offer__badges d-inline-block">
										{% if product.sale_disp %}
											<div class="product-offer__sale badge badge--sale">-<span id="price_save_{{ product.id }}">{{ product.sale_percent }}</span>%</div>
										{% endif %}
										{% if product.new_disp %}
											<div class="product-offer__new badge badge--new">{{ text.status_new }}</div>
										{% endif %}
										{% if product.stock_disp %}
											<div class="artlist__stock badge border position-relative {% if not product.sale_disp and not product.new_disp %}only_stock_status{% endif %} has-tooltip badge--stock {% if product.stock_available %} stock-available{% else %}{% if product.no_stock_but_buyable_disp %} stock-can-order{% else %} no-stock{% endif %}{% endif %}">
												<div class="artlist__stock-text product-stock-text">
													{% if product.stock_available %}
														<div class="function__icon stock__icon icon--check"></div>
														<div class="tooltip-text tooltip-down">{% if not product.stock_interval_text_exists %}{{ text.status_on_stock }}{% endif %}{% if not stock_text_only %}{% if not product.stock_interval_text_exists %}:&nbsp;{% endif %}{{ product.stock_qty }}{% if not product.stock_interval_text_exists %}&nbsp;{{ product.unit }}{% endif %}{% endif %}</div>
													{% else %}
														{% if product.cart_disp %}
															<div class="function__icon stock__icon icon--exclamation-2"></div>
															<div class="tooltip-text tooltip-down">{{ text.status_orderable }}</div>
														{% else %}
															<div class="function__icon stock__icon icon--close"></div>
															<div class="tooltip-text tooltip-down">{{ text.status_no_stock }}</div>
														{% endif %}
													{% endif %}
												</div>
											</div>
										{% endif %}
									</div>
								</div>
							</div>
							{% if product.short_desc_disp %}
								<div class="product-offer__description overflow-hidden read-more-container my-2 text-justify" data-max-height="200">
									<div class="read-more-content overflow-hidden text-justify font-s">
										{{ product.short_desc }}
									</div>
								</div>
								<div class="product-offer__description-btn read-more-btn font-s font-weight-bold pt-2 pb-4">{{ text.button_next }}</div>
							{% endif %}
							{% if product.params_disp %}
								<div class="product-offer__params px-4 py-3 py-md-5 font-xs font-md-s">
									{% for param in product.params %}
										{% if param.disp %}
											<div class="product-offer__param row align-items-center mb-1">
												<div class="product-offer__param-title col-6 col-md-4">{{ param.title }}</div>
												{% if param.type == "color" %}
													<div class="product-offer__param-value col-6 col-md-8">
														<div class="product-offer__param-type--color-wrap">
															<div class="product-offer__param-type--color" style="background-color: {{ param.value }};"></div>
														</div>
													</div>
												{% else %}
													<div class="product-offer__param-value col-6 col-md-8">{{ param.value }}</div>
												{% endif %}
											 </div>
										{% endif %}
									{% endfor %}
								</div>
							{% endif %}
							{% if product.status_1_disp or product.status_2_disp or product.status_3_disp %}
								<div class="product-offer__custom-statuses row no-gutters mb-3">
									{% if product.status_1_disp %}
										{% if status_1_link_disp %}<a href="[unas_shop_url]/shop_artspec.php?artspec=3" aria-label="{{ product.status_1 }}">{% endif %}
											<div class="product-offer__custom-status badge badge--custom-1 col-auto mr-2 px-3">{{ product.status_1 }}</div>
										{% if status_1_link_disp %}</a>{% endif %}
									{% endif %}

									{% if product.status_2_disp %}
										{% if status_2_link_disp %}<a href="[unas_shop_url]/shop_artspec.php?artspec=4" aria-label="{{ product.status_2 }}">{% endif %}
											<div class="product-offer__custom-status badge badge--custom-2 col-auto mr-2 px-3">{{ product.status_2 }}</div>
										{% if status_2_link_disp %}</a>{% endif %}
									{% endif %}

									{% if product.status_3_disp %}
										{% if status_3_link_disp %}<a href="[unas_shop_url]/shop_artspec.php?artspec=5" aria-label="{{ product.status_3 }}">{% endif %}
											<div class="product-offer__custom-status badge badge--custom-3 col-auto mr-2 px-3">{{ product.status_3 }}</div>
										{% if status_3_link_disp %}</a>{% endif %}
									{% endif %}
								</div>
							{% endif %}
							<div class="product-offer_prices-and-details row no-gutters align-items-center">
								{% if product.price_disp or product.price_sale_disp %}
									<div class="product-offer__prices col col-md-12{% if product.price_sale_disp %} has-discount-price{% endif %}">
										<div class="product-offer__prices-wrap row no-gutters px-0 align-items-baseline justify-content-start">
											{% if product.price_sale_disp %}
												<div class="product-offer__price-discount text-cn font-weight-bold col-auto px-0 pr-3">
													{{ product.price_sale }}
												</div>
											{% endif %}
											{% if product.price_disp %}
												<div class="product-offer__price-base {% if product.price_line_through %}text-line-through{% endif %} {% if product.price_sale_disp %}text-cn{% else %}text-cn font-weight-bold{% endif %} col-auto px-0">
													{{ product.price }}
												</div>
											{% endif %}
										</div>
                                        {% if price_unit_enabled and price_unit_exists %}
											<div class="product-offer__price-unit row no-gutters px-0 font-xs font-md-s">{% if product.price_unit_disp %}{{ text.unit_price }}: {{ product.price_unit }}{% endif %}</div>
										{% endif %}
										{% if product.login_needed %}
											<div class="product-offer__need-login-text">{{ text.need_login_to_prices }}</div>
										{% endif %}
									</div>
								{% endif %}
								<div class="product-offer__details-btn-wrap mt-0 mt-md-4 col-auto col-md-12">
									<button class="product-offer__details-btn btn-block btn btn-primary mx-auto mx-md-0" onclick="location.href='{{ product.url }}'" type="button" tabindex="1">{{ text.details }}</button>
								</div>
							</div>
						</div>
					</div>
				</article>
			{% endfor %}
		</div>
		<div class="slick-counter"></div>
    {{ product_list_form_end }}
</div>
{% endif %}

{{ start_script }}

<script type="text/javascript">
    $(document).ready(function(){
        var $slickElement = ".product-offer__items";
        $($slickElement).on('init reInit afterChange', function(event, slick){
            $($slickElement+' ~ .slick-counter').html((Math.ceil(slick.currentSlide/slick.slickGetOption('slidesToShow'))+1)+' / '+ Math.ceil(slick.slideCount/slick.slickGetOption('slidesToShow')));
            if(Math.ceil(slick.slideCount/slick.slickGetOption('slidesToShow'))===1){
                $($slickElement+' ~ .slick-counter').html('');
            }
        });

        $($slickElement).not('.slick-initialized').slick({
            autoplay: false,
            dots: false,
            arrows: true,
            infinite: false,
            speed: 500,
            slidesToShow: 1,
            slidesToScroll: 1,
            useTransform: true,
            adaptiveHeight: true,
            touchThreshold: 80,
            mobileFirst: true,
            swipeToSlide: true,
            lazyLoad: false,
            prevArrow: '<button class="product-offer-slick-btn slick-prev" type="button" aria-label="prev product"></button>',
            nextArrow: '<button class="product-offer-slick-btn slick-next" type="button" aria-label="next product"></button>'
        });

        $($slickElement+' .read-more-container:not(.is-processed)').each(readMoreOpener);
        $($slickElement+' .read-more-btn').on('click', function(){
            $($slickElement).find(".slick-list").height("auto");
            setTimeout(function() {
                $($slickElement).slick("setOption", '', '', true);
            }, 700);
		});
    });
</script>