{{ script }}
<div id='box_calendar_content' class='box_content w-100 text-center'>
    <div class='box_calendar_header_outer'>
        <div class='box_calendar_header w-100 bg-7'>
            <div class='box_calendar_header_left'><a href="javascript:get_month('{{ month_before }}');" class="icon--arrow-left pl-3 text-left py-3 d-block"></a></div>
            <div class='box_calendar_header_center font-weight-bold text-uppercase py-3 font-xs font-md-s'>{{ month_actual }}</div>
            <div class='box_calendar_header_right'><a href="javascript:get_month('{{ month_after }}');" class="icon--arrow-right pr-3 text-right py-3 d-block"></a></div>
        </div>
    </div>
    <div class='box_calendar_week py-3 px-0 w-100 fs-0 border-bottom'>
        {% if week_start_sunday %}<div class="box_calendar_week_outer d-inline-block font-s">{{ text.sunday }}</div>{% endif %}
        <div class="box_calendar_week_outer d-inline-block font-s">{{ text.monday }}</div>
        <div class="box_calendar_week_outer d-inline-block font-s">{{ text.tuesday }}</div>
        <div class="box_calendar_week_outer d-inline-block font-s">{{ text.wednesday }}</div>
        <div class="box_calendar_week_outer d-inline-block font-s">{{ text.thursday }}</div>
        <div class="box_calendar_week_outer d-inline-block font-s">{{ text.friday }}</div>
        <div class="box_calendar_week_outer d-inline-block font-s">{{ text.saturday }}</div>
        {% if not week_start_sunday %}<div class="box_calendar_week_outer d-inline-block font-s">{{ text.sunday }}</div>{% endif %}
    </div>
    {% for week in weeks %}
        <div class='box_calendar_day fs-0'>
            {% for day in week.days %}
                <div class='box_calendar_element_outer d-inline-block'>
                    {% if day.empty %}
                        &nbsp;
                    {% else %}
                        <div class='box_calendar_element{% if day.have_news %}_select{% endif %} font-s'>
                            {% if day.have_news %}<a href="{{ day.url }}" class="w-100 d-block text-primary">{% endif %}
                                {% if day.today %}<strong class="text-primary">{% endif %}
                                    {{ day.num }}
                                {% if day.today %}</strong>{% endif %}
                            {% if day.have_news %}</a>{% endif %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>