{{ backvar(additional_product_img_maxwidth,240) }}
{{ backvar(additional_product_img_maxheight,240) }}
{{ backvar(additional_product_max_count_auto,99) }}
{{ backvar(similar_product_img_maxwidth,240) }}
{{ backvar(similar_product_img_maxheight,240) }}
{{ backvar(similar_product_max_count_auto,99) }}
{{ backvar(products_in_bundle_img_maxwidth,160) }}
{{ backvar(products_in_bundle_img_maxheight,160) }}
{{ backvar(products_in_bundle_max_count,99) }}

{% if related_type == "artpack" %}
<div class="product-in-bundle__items d-flex flex-wrap">
    {% for product in products %}
    <div class='product-in-bundle__item usn col-6 col-sm-3 col-lg-4 mb-3 px-2'>
        <div class='product-in-bundle__item-inner h-100 d-flex flex-column p-3 bg-white'>
            <div class="product-in-bundle__statuses position-absolute badges">
                <div class="product-in-bundle__qty-wrap badge badge&#45;&#45;bundle-qty">
                    <div class="product-in-bundle__qty"><span class="font-weight-bold">{{ product.qty }}</span>&nbsp;{{ product.unit }}</div>
                </div>
            </div>
            <div class='product-in-bundle__img-wrapper product-img-wrapper position-relative text-center'>
                <a class="product-in-bundle__img-link product-img-link" href="{{ product.url }}">
                    <img class="product-in-bundle__img product-img lazy-img lazyload" src="[unas_shop_url]/main_pic/space.gif" data-src="{{ product.img_url }}"{% if product.img_retina_exists %} data-srcset="{{ product.img_retina_url }} {{ product.img_retina_size }}"{% endif %} alt="{{ product.img_alt }}" title="{{ product.img_alt }}"/>
                    <div class="loading-spinner"></div>
                </a>
            </div>
            <div class="product-in-bundle__datas pt-2 flex-grow-1 d-flex flex-column">
                <div class='product-in-bundle__name-wrap d-flex mb-3 font-s'>
                    <a class="product-in-bundle__name text-uppercase font-weight-bold line-clamp&#45;&#45;3-14" href="{{ product.url }}">{{ product.name }}</a>
                </div>
                {% if product.price_disp %}
                <div class="product-in-bundle__prices row no-gutters text-cn align-items-baseline{% if product.price_sale_disp %} has-sale-price{% endif %}">
                    {% if product.price_sale_disp %}
                    <div class='product-in-bundle__price-discount product-price&#45;&#45;sale mr-2 col-auto font-weight-bold'>{{ product.price_sale }}</div>
                    {% endif %}
                    <div class='product-in-bundle__price-base product-price&#45;&#45;base col-auto{% if not product.price_sale_disp %} font-weight-bold{% elseif price_line_through %} text-line-through{% endif %}'>{{ product.price }}</div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% else %}
<div class="{{ related_type }}-product__items slick-list-until-md-inner clearfix pb-3">
    {% for product in products %}
    <div class='{{ related_type }}-product__item p-3'>
        <div class="{{ related_type }}-product__item-inner position-relative h-100 d-flex flex-column">
            <div class="{{ related_type }}-product__statuses position-absolute badges">
                {% if product.sale_disp %}
                <div class="{{ related_type }}-product__sale badge badge--sale">-{{ product.sale_percent }}%</div>
                {% endif %}
                {% if product.new_disp %}
                <div class="{{ related_type }}-product__new badge badge--new">{{ text.status_new }}</div>
                {% endif %}
                {% if product.stock_disp %}
                <div class="{{ related_type }}-product__stock badge{% if not product.sale_disp and not product.new_disp %} only_stock_status{% endif %} has-tooltip badge--stock{% if product.stock_available %} stock-available{% else %}{% if product.no_stock_but_buyable_disp %} stock-can-order{% else %} no-stock{% endif %}{% endif %}">
                    <div class="{{ related_type }}-product__stock-text product-stock-text">
                        {% if product.stock_available %}
                        <div class="stock__icon icon--check"></div>
                        <div class="tooltip-text">{% if not product.stock_interval_text_exists %}{{ text.status_on_stock }}{% endif %}{% if not stock_text_only %}{% if not product.stock_interval_text_exists %}: {% endif %}{{ product.stock_qty }}{% if not product.stock_interval_text_exists %}&nbsp;{{ product.unit }}{% endif %}{% endif %}</div>
                        {% else %}
                        {% if product.no_stock_but_buyable_disp %}
                        <div class="stock__icon icon--exclamation-2"></div>
                        <div class="tooltip-text">{{ text.status_orderable }}</div>
                        {% else %}
                        <div class="stock__icon icon--close"></div>
                        <div class="tooltip-text">{{ text.status_no_stock }}</div>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
                {% endif %}
            </div>
            <div class='{{ related_type }}-product__img-wrapper product-img-wrapper position-relative text-center'>
                <a class="{{ related_type }}-product__img-link product-img-link" href="{{ product.url }}">
                    <img class="{{ related_type }}-product__img product-img lazy-img lazyload" src="[unas_shop_url]/main_pic/space.gif" data-src="{{ product.img_url }}"{% if product.img_retina_exists %} data-srcset="{{ product.img_retina_url }} {{ product.img_retina_size }}"{% endif %} alt="{{ product.img_alt }}" title="{{ product.img_alt }}"/>
                    <div class="loading-spinner"></div>
                </a>
            </div>
            <div class="{{ related_type }}-product__datas py-4 d-flex flex-column flex-grow-1">
                <div class='{{ related_type }}-product__name-wrap d-flex mb-2'>
                    <a class="{{ related_type }}-product__name text-uppercase font-weight-bold line-clamp--2-14" href="{{ product.url }}">{{ product.name }}</a>
                </div>
                {% if product.price_disp %}
                <div class="{{ related_type }}-product__prices row no-gutters text-cn align-items-baseline{% if product.price_sale_disp %} has-sale-price{% endif %}">
                    {% if product.price_sale_disp %}
                    <div class='{{ related_type }}-product__price-discount product-price--sale mr-2 col-auto font-weight-bold'>{{ product.price_sale }}</div>
                    {% endif %}
                    <div class='{{ related_type }}-product__price-base product-price--base col-auto{% if not product.price_sale_disp %} font-weight-bold{% elseif price_line_through %} text-line-through{% endif %}'>{{ product.price }}</div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="slick-counter"></div>
{% endif %}

