{{ backvar(main_img_maxwidth,240) }}
{{ backvar(main_img_maxheight,240) }}
{{ backvar(enable_alt_images,1) }}
{{ backvar(alt_img_maxwidth,240) }}
{{ backvar(alt_img_maxheight,240) }}
{{ backvar(alt_img_thumbnail_maxwidth,50) }}
{{ backvar(alt_img_thumbnail_maxheight,50) }}
{{ backvar(enable_reviews,1) }}

{{ start_script }}

{% if products_disp %}
    {% if not ajax_filter_reload_disp %}
        <div class="my-3 position-relative">
        {% if product_ordering_top or view_select_top %}<div class="viewing-sorting-filter-top border"><div class="viewing-sorting-filter-top__inner row gutters-5 px-2 align-items-center">{% endif %}
            {% if view_select_top %}
                <div class="view--top col-auto order-3 order-md-2 order-xl-3 d-inline-flex justify-content-start justify-content-md-end align-items-center ml-md-auto pr-2 my-1 my-sm-2">
                    <button title="{{ text.view }} 1" type="button" class="view__btn btn btn--square view__btn--1 {% if design_1_selected %}is-selected text-primary{% endif %}" {% if not design_1_selected %}onclick="location.href=location_href_with_get('change_page_design=1')"{% endif %}></button>
                    <button title="{{ text.view }} 2" type="button" class="view__btn btn btn--square view__btn--2 {% if design_2_selected %}is-selected text-primary{% endif %}" {% if not design_2_selected %}onclick="location.href=location_href_with_get('change_page_design=2')"{% endif %}></button>
                </div>
            {% endif %}
            {% if product_ordering_top %}
                <div class='order--top col-auto order-4 order-md-3 order-xl-4 d-inline-flex justify-content-end align-items-center ml-auto ml-md-0 pl-0 my-1 my-sm-2'>
                    {{ product_ordering_top_form_start }}
                    <div class='order__wrap d-flex align-items-center'>
                        <div class="order__select-outer form-label-group form-select-group m-0" title="{{ text.order_by }}">
                            <select name="new_art_order" onchange="document.form_art_order1.submit();" class="rounded form-control" id="new_art_order_top">
                                {% for product_ordering_type in product_ordering_types %}
                                    <option value="{{ product_ordering_type.value }}" {% if product_ordering_type.selected %}selected="selected"{% endif %}>{{ product_ordering_type.name }}</option>
                                {% endfor %}
                            </select>
                            <label for="new_art_order_top" class="font-weight-bold">{{ text.order_by }}</label>
                        </div>
                    </div>
                    {{ product_ordering_top_form_end }}
                </div>
            {% endif %}
            {% if (product_list_type not in ['product_list_cat','product_list_ref']) and not infinite_scroll_disp %}[[ box|name:shop_filter ]]{% endif %}
        {% if product_ordering_top or view_select_top %}</div></div>{% endif %}
        </div>
    {% endif %}

    {% if not infinite_scroll_disp and not ajax_filter_reload_disp %}<div id='page_artlist_content' class="page_content artlist--type-1">{% endif %}

    {% if not infinite_scroll_disp and not ajax_filter_reload_disp %}
        <div class='artlist__products page_artlist_list row gutters-10 product-list-wrapper' {% if login_needed %}id='list_no_price'{% endif %}>
    {% endif %}

    {% if paging_disp %}
        <div class="paging--top px-0 my-2 my-sm-3 col-12 page_artlist_page">
            <nav class="paging__nav d-flex align-items-center justify-content-center h-100" aria-label="pagination">
                {{ paging_content }}
            </nav>
        </div>
    {% endif %}

    {% for product in products %}
        <div class='col-6 col-md-4 col-lg-3 col-xl-3 mb-5 artlist__product-col artlist-col--1 js-product{% if product.variants_disp %} js-has-variant has-unselected-variant{% endif %} {{ product.class }}' id='page_artlist_{{ product.id }}'>
            <article class='artlist__product h-100 {% if product.alt_img_1_disp %} has-alt-image js-on-hover-alt-img{% endif %}{% if product.params_disp %} has-{{ product.params_displayed_count }}-params{% endif %}'>
                <div class="artlist__inner h-100 position-relative">
                    <div class="artlist__inner-abs d-flex flex-column">
                        <div class="badges-and-favourites row no-gutters position-absolute">
                            <div class="badges col ml-1">
                                {% if product.sale_disp %}
                                    <div class="artlist__sale badge badge--sale">-<span id='price_save_{{ product.id }}'>{{ product.sale_percent }}%</span></div>
                                {% endif %}

                                {% if product.new_disp %}
                                    <div class="artlist__new badge badge--new">{{ text.status_new }}</div>
                                {% endif %}

                                {% if product.stock_disp %}
                                    <div class="artlist__stock badge has-tooltip badge--stock{% if not product.sale_disp and not product.new_disp %} only_stock_status{% endif %}{% if product.stock_available %} stock-available{% else %}{% if product.no_stock_but_buyable_disp %} stock-can-order{% else %} no-stock{% endif %}{% endif %}">
                                        <div class="artlist__stock-text product-stock-text">
                                            {% if product.stock_available %}
                                                <div class="stock__icon icon--check text-center"></div>
                                                <div class="tooltip-text">{% if not product.stock_interval_text_exists %}{{ text.status_on_stock }}{% endif %}{% if not product.stock_text_only %}{% if not product.stock_interval_text_exists %}:{% endif %} {{ product.stock_qty }}&nbsp;{% if not product.stock_interval_text_exists %}{{ product.unit }}{% endif %}{% endif %}</div>
                                            {% else %}
                                                {% if product.cart_disp %}
                                                    <div class="stock__icon icon--exclamation-2 text-center"></div>
                                                    <div class="tooltip-text">{{ text.status_orderable }}</div>
                                                {% else %}
                                                    <div class="stock__icon icon--close text-center"></div>
                                                    <div class="tooltip-text">{{ text.status_no_stock }}</div>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}

                                {% if product.status_1_disp %}
                                    {% if status_1_link_disp %}<a href="[unas_shop_url]/shop_artspec.php?artspec=3" aria-label="{{ product.status_1 }}">{% endif %}
                                        <div class="artlist__custom-status badge badge--custom-1 px-3">{{ product.status_1 }}</div>
                                    {% if status_1_link_disp %}</a>{% endif %}
								{% endif %}

								{% if product.status_2_disp %}
                                    {% if status_2_link_disp %}<a href="[unas_shop_url]/shop_artspec.php?artspec=4" aria-label="{{ product.status_2 }}">{% endif %}
                                        <div class="artlist__custom-status badge badge--custom-2 px-3">{{ product.status_2 }}</div>
                                    {% if status_2_link_disp %}</a>{% endif %}
								{% endif %}

								{% if product.status_3_disp %}
                                    {% if status_3_link_disp %}<a href="[unas_shop_url]/shop_artspec.php?artspec=5" aria-label="{{ product.status_3 }}">{% endif %}
                                        <div class="artlist__custom-status badge badge--custom-3 px-3">{{ product.status_3 }}</div>
                                    {% if status_3_link_disp %}</a>{% endif %}
								{% endif %}
                            </div>
                            {% if product.favourites_disp %}
                                {% if favourites_page %}
                                    <div class='badge remove-favourites__btn-outer'>
                                        <div class="artlist__button-remove-from-favourites d-inline-block favourites_item_del has-tooltip" onclick="{{ product.favourite_del_onclick }}">
                                            <div class="favourites__icon icon--close"></div>
                                            <div class="favourites__text tooltip-text">{{ product.favourite_text }}</div>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class='badge badge--favourites favourites__btn-outer page_artdet_func_favourites_outer_{{ product.sku_id }}{% if product.favourites_checked %} added{% endif %}' id='page_artlist_func_favourites_outer_{{ product.sku_id }}'>
                                        <div onclick='{{ product.favourite_onclick }}' class='favourites__btn has-tooltip d-inline-block page_artdet_func_favourites_{{ product.sku_id }} {% if product.favourites_checked %} remove_favourites{% endif %}' id='page_artlist_func_favourites_{{ product.sku_id }}'>
                                            <div class="favourites__icon icon--favo"></div>
                                            <div class="favourites__text tooltip-text page_artdet_func_favourites_text_{{ product.sku_id }}">{{ product.favourite_text }}</div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        </div>
                        <div class='artlist__img-wrapper position-relative text-center'>
                            <a class="artlist__img-link product_link_normal prodcut-img-wrapper" data-sku="{{ product.sku }}" href="{{ product.url }}">
                                <img class="artlist__img product-img js-main-img lazyload" src="[unas_shop_url]/main_pic/space.gif" data-src="{{ product.img_url }}" data-src-orig="{{ product.img_url }}"{% if product.img_retina_exists %} data-srcset="{{ product.img_retina_url }} {{ product.img_retina_size }}" data-srcset-orig="{{ product.img_retina_url }} {{ product.img_retina_size }}"{% endif %} alt="{{ product.img_alt }}" title="{{ product.img_alt }}" id="{{ product.img_id }}"/>
                                <div class="loading-spinner"></div>
                            </a>
                        </div>
                        {% if product.alt_img_1_disp %}
                            <div class="artlist__alt-images d-none d-lg-flex js-alt-images">
                                <div class="artlist__alt-img-wrap js-alt-img-wrap">
                                    <img class="artlist__alt-img js-alt-img lazyload" src="[unas_shop_url]/main_pic/space.gif" data-src="{{ product.alt_img_1_thumbnail_url }}" data-src-orig="{{ product.alt_img_1_url }}"{% if product.alt_img_1_thumbnail_retina_exists %} data-srcset="{{ product.alt_img_1_thumbnail_retina_url }} {{ product.alt_img_1_thumbnail_retina_size }}"{% endif %}{% if product.alt_img_1_retina_exists %} data-srcset-orig="{{ product.alt_img_1_retina_url }} {{ product.alt_img_1_retina_size }}"{% endif %} alt="{{ product.alt_img_1_alt }}"/>
                                </div>

                                {% if product.alt_img_2_disp %}
                                    <div class="artlist__alt-img-wrap js-alt-img-wrap">
                                        <img class="artlist__alt-img js-alt-img lazyload" src="[unas_shop_url]/main_pic/space.gif" data-src="{{ product.alt_img_2_thumbnail_url }}" data-src-orig="{{ product.alt_img_2_url }}"{% if product.alt_img_2_thumbnail_retina_exists %} data-srcset="{{ product.alt_img_2_thumbnail_retina_url }} {{ product.alt_img_2_thumbnail_retina_size }}"{% endif %}{% if product.alt_img_2_retina_exists %} data-srcset-orig="{{ product.alt_img_2_retina_url }} {{ product.alt_img_2_retina_size }}"{% endif %} alt="{{ product.alt_img_2_alt }}"/>
                                    </div>
                                {% endif %}

                                {% if product.alt_img_3_disp %}
                                    <div class="artlist__alt-img-wrap js-alt-img-wrap">
                                        <img class="artlist__alt-img js-alt-img lazyload" src="[unas_shop_url]/main_pic/space.gif" data-src="{{ product.alt_img_3_thumbnail_url }}" data-src-orig="{{ product.alt_img_3_url }}"{% if product.alt_img_3_thumbnail_retina_exists %} data-srcset="{{ product.alt_img_3_thumbnail_retina_url }} {{ product.alt_img_3_thumbnail_retina_size }}"{% endif %}{% if product.alt_img_3_retina_exists %} data-srcset-orig="{{ product.alt_img_3_retina_url }} {{ product.alt_img_3_retina_size }}"{% endif %} alt="{{ product.alt_img_3_alt }}"/>
                                    </div>
                                {% endif %}

                                {% if product.alt_img_4_disp %}
                                    <div class="artlist__alt-img-wrap js-alt-img-wrap">
                                        <img class="artlist__alt-img js-alt-img lazyload" src="[unas_shop_url]/main_pic/space.gif" data-src="{{ product.alt_img_4_thumbnail_url }}" data-src-orig="{{ product.alt_img_4_url }}"{% if product.alt_img_4_thumbnail_retina_exists %} data-srcset="{{ product.alt_img_4_thumbnail_retina_url }} {{ product.alt_img_4_thumbnail_retina_size }}"{% endif %}{% if product.alt_img_4_retina_exists %} data-srcset-orig="{{ product.alt_img_4_retina_url }} {{ product.alt_img_4_retina_size }}"{% endif %} alt="{{ product.alt_img_4_alt }}"/>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}

                        {% if product.review_enabled %}
                            <div class="artlist__rating">
                                <div class="artlist__rating-inner rating-stars" title="{{ product.review_avg }}">
                                    {% if product.review_percent != '' %}
                                        <div class="artlist__rating-stars-back rating-stars__back text-primary">
                                            <div class="artlist__rating-stars-front rating-stars__front" style="width:{{ product.review_percent }}%;"></div>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}

                        <div class='artlist__name-wrap justify-content-start mb-1 mt-2'>
                            <a class="artlist__name text-uppercase product_link_normal" data-sku="{{ product.sku }}" href="{{ product.url }}"><h2 class="font-s font-sm-m line-clamp--2-14 font-weight-bold">{{ product.name }}</h2></a>
                        </div>

                        {% if product.params_disp %}
                            <div class="artlist__params d-flex flex-column font-xs font-sm-s">
                                {% for param in product.params %}
                                    {% if param.disp %}
                                        <div class="artlist__param row no-gutters overflow-hidden{% if param.disp %} param_exists{% endif %}">
                                            <div class="artlist__param-title col-6 col-md-5">{{ param.title }}</div>
                                            <div class="artlist__param-value col-6 col-md-7{% if param.type in ['color','color_text'] %} d-inline-flex align-items-center{% endif %}">
                                                {% if param.type in ["color","color_text"] %}
                                                    <div class="artlist__param-type--color-wrap" {% if param.type=='color_text' %}title="{{ param.value2 }}" {% endif %}>
                                                        <div class="artlist__param-type--color d-inline-block" style="background-color: {{ param.value }};"></div>
                                                    </div>
                                                {% else %}
                                                    {{ param.value }}
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endif %}

                        <div class='artlist__prices mt-auto row no-gutters justify-content-start align-items-baseline {% if product.price_sale_disp %}has-sale-price{% endif %}'>

                            {% if product.price_sale_disp %}
                                <div class='artlist__price-sale col-auto text-cn font-weight-bold text-center product-price--sale pr-3 order-1'>
                                    {{ product.price_sale }}
                                </div>
                            {% endif %}

                            {% if product.price_disp %}
                                <div class='artlist__price-base col-auto {% if product.price_line_through %}text-line-through{% endif %} {% if product.price_sale_disp %}text-cn{% else %}text-cn font-weight-bold{% endif %} text-center product-price--base order-2'>
                                    {{ product.price }}
                                </div>
                            {% endif %}

                            {% if price_unit_enabled and price_unit_exists %}
                                <div class="artlist__price-unit col-12 product-price--unit order-3 font-xs font-md-s">{% if product.price_unit_disp %}{{ text.unit_price }}: {{ product.price_unit }}{% endif %}</div>
                            {% endif %}

                            {% if product.qty_discount_disp %}
                                <div class="artlist__price-quantitative-sale product-price--quantitative-sale d-none">
                                    <a href="{{ product.url }}" class="product_link_normal" data-sku="{{ product.sku }}">
                                        {{ product.qty_discount_title }}
                                        <strong>{{ product.qty_discount_amount }}{% if product.qty_discount_type == "percent" %}%{% endif %}</strong>
                                    </a>
                                </div>
                            {% endif %}

                            {% if product.login_needed %}
                                <button class='artlist__price-login-btn btn btn-link w-100 font-xs' type='button' onclick='overlay_login()'>
                                    {{ text.need_login_to_prices }}
                                </button>
                            {% endif %}
                        </div>
                        <div class="artlist__functions justify-content-center js-artlist-functions usn pt-2 row gutters-5">
                            {% if product.compare_disp and product_list_type != "product_list_ref" %}<!-- osszehasonlitas -->
                                <div class="function-btn-outer compare__btn-outer col-auto">
                                    <div onclick='{{ product.compare_onclick }}' class='function-btn compare__btn border rounded has-tooltip page_art_func_compare{% if product.compare_checked %} page_art_func_compare_checked{% endif %}'>
                                        <div class="function__icon compare__icon function-icon font-s font-md-l icon--compare"></div>
                                        <div class="function__text compare__text tooltip-text page_artdet_func_compare_text_{{ product.sku_id }}" data-text-add="{{ text.comparison }}" data-text-delete="{{ text.delete_from_compare }}">{% if product.compare_checked %}{{ text.delete_from_compare }}{% else %}{{ text.comparison }}{% endif %}</div>
                                    </div>
                                </div>
                            {% endif %}
                            {% if product.cart_disp %}
                                {% if product.redirect_to_details %}
                                    <div class="function-btn-outer artlist__cart-btn-outer col{% if product.compare_disp and (product_list_type != 'product_list_ref') %} pl-0{% endif %}{% if product_list_type != 'product_list_ref' %} pr-2 pr-md-0{% endif %}">
                                        <button onclick="{{ product.cart_onclick }}" type="button" class="artlist__details-btn btn btn-primary btn-block p-0 h-100{% if product_list_type == 'product_list_ref' %} py-2{% endif %}">{{ text.button_details }}</button>
                                    </div>
                                {% else %}
                                    <div class="function-btn-outer artlist__cart-btn-outer col{% if product.compare_disp and (product_list_type != 'product_list_ref') %} pl-0{% endif %}{% if product_list_type != 'product_list_ref' %} pr-2 pr-md-0{% endif %}">
                                        {% if product.variants_disp %}
                                            <button onclick="openVariantsOverlay(this)" data-cartadd="{{ product.cart_onclick }}" type="button" class="artlist__cart-btn btn btn-primary btn-block p-0 h-100{% if product_list_type == 'product_list_ref' %} py-2{% endif %}">{{ text.button_to_cart }}</button>
                                            <input name="{{ product.cart_input_name }}" id="{{ product.cart_input_id }}" type="text" value="{{ product.cart_input_value_number }}" maxlength="7" class="page_qty_input artlist__qty-input d-none" data-min="{{ product.cart_input_data_min }}" data-max="{{ product.cart_input_data_max }}" data-step="{{ product.cart_input_data_step }}"/>
                                        {% else %}
                                            <button onclick="{{ product.cart_onclick }}" type="button" class="artlist__cart-btn btn btn-primary btn-block p-0 h-100{% if product_list_type == 'product_list_ref' %} py-2{% endif %}">{{ text.button_to_cart }}</button>
                                            <input name="{{ product.cart_input_name }}" id="{{ product.cart_input_id }}" type="text" value="{{ product.cart_input_value_number }}" maxlength="7" class="page_qty_input artlist__qty-input d-none" data-min="{{ product.cart_input_data_min }}" data-max="{{ product.cart_input_data_max }}" data-step="{{ product.cart_input_data_step }}"/>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            {% else %}
                                {% if product.inquire_disp %}<!-- erdeklodjon gomb -->
                                    <div class="function-btn-outer artlist__inquire-btn-outer col{% if product.compare_disp and (product_list_type != 'product_list_ref') %} pl-0{% endif %}{% if product_list_type != 'product_list_ref' %} pr-2 pr-md-0{% endif %}">
                                        <button type="button" class="artlist__inquire-btn btn btn-outline-primary btn-block p-0 h-100 {% if product_list_type == 'product_list_ref' %} py-2{% endif %}" onclick="{{ product.inquire_onclick }}">{{ text.button_inquire }}</button>
                                    </div>
                                {% else %}
                                    {% if product.no_stock_disp %}
                                        <div class="function-btn-outer col{% if product.compare_disp and (product_list_type != 'product_list_ref') %} pl-0{% endif %}{% if product_list_type != 'product_list_ref' %} pr-2 pr-md-0{% endif %} m-auto">
                                            <div class="not-stock w-100 h-100 {% if product_list_type == 'product_list_ref' %} py-2{% endif %}">
                                                <div class="not-stock__text text-uppercase font-xs font-sm-s text-center">
                                                    {{ text.status_no_stock }}
                                                </div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="function-btn-outer col{% if product.compare_disp and (product_list_type != 'product_list_ref') %} pl-0{% endif %}{% if product_list_type != 'product_list_ref' %} pr-2 pr-md-0{% endif %} m-auto">
                                            <div class="not-buyable h-100 w-100 {% if product_list_type == 'product_list_ref' %} py-2{% endif %}">
                                                <div class="not-buyable__text text-uppercase font-xs font-sm-s text-center">
                                                    {{ text.status_not_buyable }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                            {% if product_list_type != "product_list_ref" %}
                                <div class="function-btn-outer tooltip__btn-outer col-auto d-none d-md-inline-block">
                                    <a class="function-btn tooltip__btn border rounded js-product-tooltip-click has-tooltip" data-sku="{{ product.sku_id }}" href="#">
                                        <div class="function__icon font-s font-md-l icon--details"></div>
                                        <div class="function__text details__text tooltip-text">{{ text.preview }}</div>
                                    </a>
                                </div>
                            {% endif %}
                        </div>
                        {% if not product.redirect_to_details and product.variants_disp and product.cart_disp %}
                            <div class='artlist__variants js-variants{% if product.price_unit_disp %} has-price-unit{% endif %}'>
                                <div class='artlist__variants-wrap border-top position-relative mt-5'>
                                    <button class="artlist__variants-close-btn js-variants-close-btn btn btn-link py-2 px-3 icon--close font-l" type="button" title="{{ text.button_close }}" onclick="closeVariantsOverlay(this);"></button>
                                    <div class='artlist__variants-inner px-1 px-md-3 pt-5'>
                                        {% if product.variant_1_disp %}
                                            <div class='artlist__variant js-variant-wrap form-label-group form-select-group'>
                                                {{ product.variant_1_hidden }}
                                                <select name="egyeb_list1_{{ product.id }}" id="egyeb_list1_{{ product.id }}" class='page_artlist_other_select variant-select form-control' onchange="changeVariant(this)">
                                                    {% for option in product.variant_1_options %}
                                                        <option value="{{ option.value }}" {% if option.disabled %} style='display:none' disabled="disabled"{% endif %} {% if option.selected %} selected="selected"{% endif %}>{{ option.name }}</option>
                                                    {% endfor %}
                                                </select>
                                                <label for="egyeb_list1_{{ product.id }}" class="font-weight-bold">{{ product.variant_1_title }}</label>
                                            </div>
                                        {% endif %}
                                        {% if product.variant_2_disp %}
                                            <div class='artlist__variant js-variant-wrap form-label-group form-select-group'>
                                                {{ product.variant_2_hidden }}
                                                <select name="egyeb_list2_{{ product.id }}" id="egyeb_list2_{{ product.id }}" class='page_artlist_other_select variant-select form-control' onchange="changeVariant(this)">
                                                    {% for option in product.variant_2_options %}
                                                        <option value="{{ option.value }}" {% if option.disabled %} style='display:none' disabled="disabled"{% endif %} {% if option.selected %} selected="selected"{% endif %}>{{ option.name }}</option>
                                                    {% endfor %}
                                                </select>
                                                <label for="egyeb_list2_{{ product.id }}" class="font-weight-bold">{{ product.variant_2_title }}</label>
                                            </div>
                                        {% endif %}
                                        {% if product.variant_3_disp %}
                                            <div class='artlist__variant js-variant-wrap form-label-group form-select-group'>
                                                {{ product.variant_3_hidden }}
                                                <select name="egyeb_list3_{{ product.id }}" id="egyeb_list3_{{ product.id }}" class='page_artlist_other_select variant-select form-control' onchange="changeVariant(this)">
                                                    {% for option in product.variant_3_options %}
                                                        <option value="{{ option.value }}" {% if option.disabled %} style='display:none' disabled="disabled"{% endif %} {% if option.selected %} selected="selected"{% endif %}>{{ option.name }}</option>
                                                    {% endfor %}
                                                </select>
                                                <label for="egyeb_list3_{{ product.id }}" class="font-weight-bold">{{ product.variant_3_title }}</label>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        {{ product.variants_hidden }}
                    </div>
                </div>
            </article><!--product-->
        </div>
    {% endfor %}

    {{ infinite_scroll }}
    {{ infinite_scroll_loading }}

    {% if paging_disp %}
        <div class="paging--bottom px-0 my-2 my-sm-3 col-12 {% if infinite_scroll_enabled %}is-invisible {% endif %} page_artlist_page">
            <nav class="paging__nav d-flex align-items-center justify-content-center h-100" aria-label="pagination">
                {{ paging_content }}
            </nav>
        </div>
    {% endif %}

    {% if not infinite_scroll_disp and not ajax_filter_reload_disp %}</div><!--products-->{% endif %}

    {% if not infinite_scroll_disp and not ajax_filter_reload_disp %}</div><!--page_artlist_content-->{% endif %}

    {% if infinite_scroll_button_disp and ajax_filter_reload_disp %}
        <script>
            $('.page_artlist_load_more_content').show();
        </script>
    {% endif %}
    {% if not infinite_scroll_button_disp and ajax_filter_reload_disp %}
        <script>
            $('.page_artlist_load_more_content').hide();
        </script>
    {% endif %}

    {% if infinite_scroll_button_enabled and not ajax_filter_reload_disp and not infinite_scroll_disp %}
        <div class="artlist-load-more-items d-flex justify-content-center">
            <button class="page_artlist_load_more_content btn btn-primary" {% if not infinite_scroll_button_disp %}style="display:none;"{% endif %} type="button">{{ text.more_products }}</button>
        </div>
    {% endif %}

    {% if not ajax_filter_reload_disp %}
        {% if view_select_bottom or product_ordering_bottom %}
            <div class="viewing-sorting-bottom border my-3">
                <div class="viewing-sorting-bottom__inner row gutters-5 px-2">
                    {% if view_select_bottom %}
                        <div class="view--bottom col d-inline-flex justify-content-start justify-content-md-end align-items-center mr-auto pr-2 my-1 my-sm-2">
                            <button title="{{ text.view }} 1" type="button" class="view__btn btn btn--square view__btn--1 {% if design_1_selected %}is-selected text-primary{% endif %}" {% if not design_1_selected %}onclick="location.href=location_href_with_get('change_page_design=1')"{% endif %}></button>
                            <button title="{{ text.view }} 2" type="button" class="view__btn btn btn--square view__btn--2 {% if design_2_selected %}is-selected text-primary{% endif %}" {% if not design_2_selected %}onclick="location.href=location_href_with_get('change_page_design=2')"{% endif %}></button>
                        </div>
                    {% endif %}

                    {% if product_ordering_bottom %}
                        <div class='order--bottom col-auto d-inline-flex align-items-center ml-auto pl-0 my-1 my-sm-2'>
                            {{ product_ordering_bottom_form_start }}
                            <div class='order__wrap d-flex align-items-center'>
                                <div class="order__select-outer form-label-group form-select-group m-0" title="{{ text.order_by }}">
                                    <select name="new_art_order" onchange="document.form_art_order2.submit();" class="rounded form-control" id="new_art_order_bottom">
                                        {% for product_ordering_type in product_ordering_types %}
                                            <option value="{{ product_ordering_type.value }}" {% if product_ordering_type.selected %}selected="selected"{% endif %}>{{ product_ordering_type.name }}</option>
                                        {% endfor %}
                                    </select>
                                    <label for="new_art_order_bottom" class="font-weight-bold">{{ text.order_by }}</label>
                                </div>
                            </div>
                            {{ product_ordering_bottom_form_end }}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endif %}

{% if not products_disp and artlist_type_product_list_cat_disp %}
<div class="product-list-wrapper row gutters-10">
    <div id='page_art_head_box' class='col-12 no_art py-4 text-uppercase font-l'>{{ text.no_product }}</div>
</div>
{% endif %}

{% if not infinite_scroll_disp %}
    <script>
        $(document).ready(function() {
            /* Get all elements that have alt imgs */
            var productsWithAltPic = $(".js-on-hover-alt-img");

            /* Call the altPicHover fn (see above) on all elements with alt imgs */
            productsWithAltPic.each(altPicHover);
        });

        {% if infinite_scroll_enabled %}
            $(document).ajaxStop(function() {
                productsWithAltPic = $(".js-on-hover-alt-img");
                productsWithAltPic.each(altPicHover);
            });
        {% endif %}
    </script>
{% endif %}