<div id='breadcrumb'>
{% if not cat_main %}
    <div class="breadcrumb__inner mb-0 px-0 align-items-center font-s cat-level-{% for cat_sub in cat_sub_list %}{% if loop.index == 1 %}{{ loop.length }}{% endif %}{% endfor %}">
        <span class="breadcrumb__item breadcrumb__home {% if not cat_main %}is-clickable{% endif %}">
            <a href="{{ cat_main_url }}" class="breadcrumb-link breadcrumb-home-link" aria-label="{{ text.main_category }}" title="{{ text.main_category }}">
                <span class='breadcrumb__text'>{{ text.main_category }}</span>
            </a>
        </span>
        {% for cat_sub in cat_sub_list %}
            <span class="breadcrumb__item{% if loop.index == (loop.length - 1) %} visible-on-product-list{% endif %}">
                {% if cat_sub.url_disp %}
                    <a href="{{ cat_sub.url }}" class="breadcrumb-link" target="{{ cat_sub.target }}">
                        <span class="breadcrumb__text">{{ cat_sub.name }}</span>
                    </a>
                {% else %}
                    <span class="breadcrumb__text">{{ cat_sub.name }}</span>
                {% endif %}

                <script>
                    $("document").ready(function(){
                        $(".js-cat-menu-{{ cat_sub.id }}").addClass("is-selected");
                    });
                </script>
            </span>
        {% endfor %}
    </div>
{% endif %}
</div>